@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@theme {
  --color-fallout: #18f417;
  --color-terminal-bg: #050505;
  --font-terminal: "Share Tech Mono", monospace;

  @keyframes flicker {
    0% { opacity: 0.5; }
    5% { opacity: 0.95; }
    10% { opacity: 0.9; }
    15% { opacity: 0.97; }
    25% { opacity: 0.95; }
    30% { opacity: 1; }
    100% { opacity: 0.98; }
  }
  --animate-flicker: flicker 0.9s infinite;

  @keyframes blink-cursor {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  --animate-blink-cursor: blink-cursor 0.7s infinite step-end;
}

@layer base {
  body {
    background-color: #050505; 
    color: #18f417;
    margin: 0;
    @apply font-terminal antialiased animate-flicker;
  }
  ::-webkit-scrollbar {
    width: 8px;  
    height: 8px; 
  }

  ::-webkit-scrollbar-track {
    background: rgba(24, 244, 23, 0.05); 
    border-left: 1px solid rgba(24, 244, 23, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: #18f417; 
    border-radius: 0px;   
    box-shadow: 0 0 5px rgba(24, 244, 23, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #12b811; 
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #18f417 rgba(24, 244, 23, 0.05);
  }
}

@utility scanlines {
  @apply fixed inset-0 pointer-events-none z-50;
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.15) 50%
  );
  background-size: 100% 4px;

  @apply animate-blink-cursor;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


